<header>
  <!-- <a href="/products" id="header-store">store</a> -->
  <span class="header-name"><a href="/">andrew altman</a></span
  ><br />
  <a href="/products">store</a>
  <a
    href="https://www.facebook.com/thelowestnote/"
    class="socials"
    target="_blank"
    ><i class="fas fa-users fa-lg"></i
  ></a>
  <a
    href="https://www.instagram.com/andrew_altman/"
    class="socials middle-social"
    target="_blank"
    ><i class="fas fa-camera fa-lg"></i
  ></a>
  <a
    href="https://www.youtube.com/watch?v=QTL9uklYAKg"
    class="socials"
    target="_blank"
    ><i class="fas fa-video fa-lg"></i
  ></a>
</header>
