<header>
    <div id="header-left">
      <a href="/"> <h1>andrew altman</h1</a>
    </div>
    <div id="header-right">
      <a href="/products" id="header-store">Store</a>
      <a
        href="https://www.facebook.com/thelowestnote/"
        class="socials"
        target="_blank"
        ><i class="fas fa-users"></i
      ></a>
      <a
        href="https://www.instagram.com/andrew_altman/"
        class="socials"
        target="_blank"
        ><i class="fas fa-camera"></i
      ></a>
      <a
        href="https://www.youtube.com/watch?v=QTL9uklYAKg"
        class="socials"
        target="_blank"
        ><i class="fas fa-video"></i
      ></a>
    </div>
  </header>