<header>
    <div id="header-left">
       <h1><a href="/">andrew altman</a> • <a href="products">store</a></h1>
    </div>
    <div id="header-right">
      <!-- <a href="/products" id="header-store">store</a> -->
      <a
        href="https://www.facebook.com/thelowestnote/"
        class="socials"
        target="_blank"
        ><i class="fas fa-users"></i
      ></a>
      <a
        href="https://www.instagram.com/andrew_altman/"
        class="socials"
        target="_blank"
        ><i class="fas fa-camera"></i
      ></a>
      <a
        href="https://www.youtube.com/watch?v=QTL9uklYAKg"
        class="socials"
        target="_blank"
        ><i class="fas fa-video"></i
      ></a>
    </div>
  </header>