<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Andrew Altman</title>
    <meta property="og:title" content="Andrew Altman Makes Music" />
    <meta property="og:image" content="images/og_photo.jpg" />
    <meta property="og:url" content="andrewaltman.fun" />
    <meta
      property="og:description"
      content="Stop by for updates on new projects and performances."
    />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/1bd77e11de.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="preconnect" href="c" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/style.css" />
    <link
      href="public/images/favicon-32x32.png"
      rel="icon"
      type="image/x-icon"
    />
  </head>




  <body>
    <main class="mid-content">
      <a class="name" href="/">andrew altman</a>
      <%- body %>
    </main>

    <div class="footer">
      <a href="/products" id="header-store" style="display: none;">Store</a>
      <a
      href="https://www.facebook.com/thelowestnote/"
      class="socials"
      target="_blank"
      ><i class="fas fa-users"></i
        ></a>
    <a
      href="https://www.instagram.com/andrew_altman/"
      class="socials"
      target="_blank"
      ><i class="fas fa-camera"></i
    ></a>
    <a
      href="https://www.youtube.com/watch?v=QTL9uklYAKg"
      class="socials"
      target="_blank"
      ><i class="fas fa-video"></i
    ></a>
    </div>
</body>
</html>
