<% layout('layouts/boilerplate') %>

<body class="store">
  <script src="https://www.paypal.com/sdk/js?client-id=AT8IESA5YGqOga05E_gEk-yDykjOjx4eS9txzjoW2XO92twi7pO4FGiFaKNRkFsnZ9xzch-dEdFBXsVZ"></script>

  <%- include('../partials/header') %>

  <div id="store-products">
    <% for (let product of products){%>
    <div class="store-item">
      <br />
      <img src="<%= product.image %> " alt="" class="product-thumb" />
      <h2 class="title"><%= product.title %></h2>
      <p>$<%= product.price %></p>
      <button class="details-button-store">Details</button>
      <br />
      <% if (product.stockQty > 0) {%>
      <button class="cart-button-store" type="button">Add to Cart</button>
      <%} else { %>
      <button class="cart-button-store" type="button">Sold Out</button>
      <%}%>
    </div>
    <%}%>
  </div>

  <section class="cart content-section">
    <h2 class="section-header">
      <i class="cart-icon fas fa-shopping-cart"></i>
    </h2>
    <div class="cart-row">
      <span class="cart-item cart-header cart-column">item</span>
      <span class="cart-price cart-header cart-column">price</span>
      <span class="cart-quantity cart-header cart-column">quantitiy</span>
    </div>
    <div class="cart-items"></div>
    <div class="cart-total">
      <span class="cart-total-title subtotal">subtotal</span>
      <span class="cart-subtotal-price">$0</span>

      <br />
      <span class="cart-total-title shipping">shipping</span>
      <span class="cart-shipping-price">$0</span>

      <br />
      <span class="cart-total-title total">total</span>
      <span class="cart-total-price">$0</span>
    </div>
    <button class="btn-checkout" type="button">Checkout</button>
    <button class="btn-keep-shopping" type="button">Keep Shopping</button>
    <div id="paypal-button-container"></div>
  </section>
  <div class="sticky-cart">
    <span class="sticky-cart-items"></span>
    <span class="sticky-cart-subtotal">Welcome To The Store</span>
    <button class="goto-cart" type="button">Go To Cart</button>
  </div>
  <script src="/public/scripts/store.js"></script>
</body>
