<% layout('layouts/boilerplate') %>
  <!-- <h1>The Moment</h1>
  <hr />
  <h2>Latest Update</h2> -->
  <br />
  <iframe
    class="update-frame"
    src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fthelowestnote%2Fvideos%2F10164714082650191%2F&width=500&show_text=false&height=282&appId"
    width="480"
    height="270"
    scrolling="no"
    frameborder="0"
    allowTransparency="true"
    allow="encrypted-media"
    allowfullscreen="true"
  ></iframe>
  <!-- <br />
    <section class="full-story">
      <h2>Full Story</h2>
      <br />
      <iframe
        class="story-frame"
        width="480"
        height="270"
        src="https://www.kickstarter.com/projects/andrewaltman/the-moment-a-record-of-collaboration/widget/video.html"
        frameborder="0"
        scrolling="no"
      >
      </iframe>
    </section>
    <br />
    <hr id="bottom" /> -->
