<% layout('layouts/boilerplate') %>
<body class="gradient-background">
  <%- include('partials/header') %>

  <form id="form" class="show">
    <p class="please-enter">Please enter the promo&nbsp;code:</p>
    <input type="text" id="code-input" /><br />

    <button type="submit" id="promo-button">enter</button>
  </form>

  <div id="hires" class="hide">
    <h1 class="vinyl-master-title">Vinyl Masters</h1>
    <hr />
    <p id="thanks">
      Thank you for supporting The Moment. These files are the high resolution
      digital masters that were pressed into the vinyl records. They are 24bit
      96k files. CDs are only 16bit 44.1k files for comparison. CDs can also be
      mastered louder than vinyl which means that there is more compression of
      each track to get them to seem louder. Vinyl needs to have a lower level
      to avoid distortion, so a lot of the final compression is removed. This
      results in a file that is more true to the original mix and has more
      dynmaics than a CD master. I hope you enjoy them.
    </p>
    <div id="links">
      <!-- <button class="listen">Listen</button> -->
      <a class="listen" href="#audioPlayerLink">Listen</a>
      <a class="download" href="public/audio/The Moment Vinyl Masters.zip">Download</a>
    </div>
    <div id="audioplayerContainter" style="display: none;">
      <audio src="public/audio/01 The Moment.wav" controls id="audioPlayer">
        Sorry, your browser doesn't support html5!
      </audio>
      <ul id="playlist">
        <li class="song"><a href="public/audio/01 The Moment.wav">The Moment</a></li>
        <li class="song">
          <a href="public/audio/02 Bamboo School.wav">Bamboo School</a>
        </li>
        <li class="song">
          <a href="public/audio/03 The Greatest Thing.wav">The Greatest Thing</a>
        </li>
        <li class="song"><a href="public/audio/04 Redwood.wav">Redwood</a></li>
        <li class="song">
          <a href="public/audio/05 The Last Supper.wav">The Last Supper</a>
        </li>
        <li class="song"><a href="public/audio/06 Be Prime.wav">Be Prime</a></li>
        <li class="song">
          <a href="public/audio/07 Repeat After Me.wav">Repeat After Me</a>
        </li>
      </ul>
    </div>
  </div>
  <script>
    window.addEventListener("resize", () => {
      document.body.height = window.innerHeight;
    });

    const form = document.querySelector("#form");
    const codeInput = document.querySelector("#code-input");
    const theGoods = document.querySelector("#hires");
    const listenLink = document.querySelector(".listen")
    const audioplayerContainter = document.querySelector("#audioplayerContainter")
    const thanks = document.querySelector("#thanks")

    const verifyCode = function (e) {
      let theCode = codeInput.value;
      if (theCode === "hires" || "Hires") {
        theGoods.className = "show";
        form.className = "hide";
        e.preventDefault();
      } else {
        alert("sorry no");
      }
    };

    form.addEventListener("submit", verifyCode);

    listenLink.addEventListener("click", () => {
      audioplayerContainter.style.display = "block";
      thanks.style.display = "none";
    })

    const audioPlayer = document.querySelector("#audioPlayer");
    const playlist = document.querySelector("#playlist");
    const tracks = document.querySelectorAll("li a");


    function play(e) {
    e.preventDefault();
     audioPlayer.src = this;
     audioPlayer.play();
    }

    for (track of tracks) {
     track.addEventListener("click", play);
    }

    function playNext(e) {
     for (let i = 0; i < tracks.length; i++) {
      if (tracks[i] == audioPlayer.src) {
       audioPlayer.src = tracks[++i];
       audioPlayer.play();
     }
    }
  }

    audioPlayer.addEventListener("ended", playNext);
  </script>
</body>
