* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* this allows the linear gradient background 
to stretch, instead of repeating*/

html {
  min-height: 100%;
  /* position: absolute; */
}

body {
  font-family: "Playfair Display", serif;
  background-color: rgba(206, 209, 213, 0.322);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ====================== Home ======================= */

#home {
  font-family: "Cabin Sketch", cursive;
  background-color: rgb(206, 209, 213);
  color: rgba(34, 24, 9, 0.281);
  text-align: center;
  text-decoration: none;
  min-height: 100vh;
  background: url("images/bass_hand_center_wide.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.mid-content {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  position: fixed;
  text-align: right;
  top: 40vh;
  right: 5vw;
}

.name {
  font-size: 2rem;
  border-bottom: thin solid grey;
}

#home h2 {
  color: rgba(34, 24, 9, 0.281);
  font-size: 1.4rem;
}

a:link {
  /* color: blanchedalmond; */
  /* background-color: transparent; */
  text-decoration: none;
}

a:hover {
  /* color: hotpink; */
  background-color: transparent;
}

/* ====================== Header ======================= */

header {
  height:fit-content;
  background-size: 100%;
  margin-top: 2vh;
}

.header-name {
  color: #888484e3;
  font-family: "Cabin Sketch", cursive;
  font-size: 3em;
  }

header a {
  /* color: rgba(63, 45, 39, 0.534); */
  color: rgba(39,31,27, 0.75);
}
/* 
header a:nth-of-type(2){
  margin-left: 4vw;
} */

.store-nav-link {
  font-size: 1.3em;
}

.nav-socials {
  display: inline-block;
  /* margin-right: -20px; */
}

.socials {
  margin: 0px 10px;
}

/* .middle-social {
  margin: 0px 10px;
} */

/* ====================== Footer ======================= */

.footer a {
  color: blanchedalmond;
  margin: 0px 1vw;
}


/* ====================== Thanks ======================== */

.message {
  opacity: .9;
  font-family: 'Shadows Into Light', cursive;  
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 7vh auto;
  background-image: url(/public/images/thanks.jpg);
  background-size: cover;
  height: 40vh;
  width: 60vw;
  height: 300px;
  width: 300px;
}

.message h2{
  font-size: 14px;
  width:800px;
  margin-top:18%;
  color: rgba(214, 231, 206);
  background-color: rgba(69, 110, 102, 0.9);
  padding: 2% 10%;
}

/* ====================== error ======================= */

.error-h2 {
  font-family: 'Shadows Into Light', cursive;  
  font-size: 2em;
  padding: 10vh 12vh;
  margin: 10vh 16vw;
  /* margin-top:10vh; */
  color: rgba(214, 231, 206);
  background-color: rgba(69, 109, 71, 0.6);
  /* padding: 42% 10%; */

}

/* ================== Vinyl Masters =================== */

.please-enter {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

#form {
  height: 155px;
  font-size: 16px;
  width: 70vw;
  margin: 48px auto;
  /* margin: 180px auto; */
  padding: 20px;
  border-radius: 5px;
  min-width: 200px;
  background-color: rgba(69, 110, 102, 0.6);
}

.show {
  display: block;
}

.hide {
  display: none;
}

#promo-button {
  color: rgb(66, 65, 65);
  font-size: 16px;
  width: 100px;
  height: 28px;
  border-radius: 6px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-family: "Roboto", sans-serif;
  background-color: lightgray;
}

#code-input {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  width: 120px;
  height: 30px;
  margin-top: 1vh;
}

.vinyl-master-title {
  font-family: "Playfair Display", serif;
  padding-top: 4vh;
}

#hires-info {
  color: rgb(39, 31, 27);
  font-family: "Roboto", sans-serif;
  width: 50vw;
  padding: 16px;
  margin: 8vh auto auto auto;
  text-align: justify;
  line-height: 2em;
}

#hires {
  font-family: "Roboto", sans-serif;
}

#links {
  margin: 6vh auto;
}

.listen,
.download {
  text-decoration: none;
  margin: 4px;
  padding: 8px 40px;
  /* border: 2px solid rgba(163,151,144, 0.8); */
  box-shadow: 0 1.5px 4px rgba(161, 160, 160, 0.1), 0 1.5px 6px rgba(165, 164, 164, 0.1);
  border-radius: 50px;
  /* background-color: rgba(163,151,144, 0.8); */
  color: black;
  /* width: 200px; */
}

.listen {
  background-color: rgba(214, 182, 164, 0.8);
}

.download {
  background-color: rgba(69, 110, 102, 0.6);;
}


#audioplayerContainter {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 5vh 2.5vw 9vh;
  /* border: 1px solid rgba(68,92,108, 0.5); */
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.1), 0 1.5px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: rgba(148, 143, 140, 0.4);
}

audio {
  margin: auto;
  width: 280px;
  /* margin-top: 5vh; */
}

#playlist {
  margin-top: 2vh;
}

.song {
  font-family: "Roboto", sans-serif;
  margin-top: 1.6vh;
  text-align: center;
  font-size: 2rem;
}

.song a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.song a:visited {
  color: rgb(92, 84, 73);
  background-color: transparent;
}

.song a:hover {
  color: #66836c;
  background-color: transparent;
}

.song a:active {
  color: rgb(86, 143, 86);
  background-color: transparent;
}

ul {
  list-style-type: none;
}

/* ====================== Store ======================= */

.store {
  background: white;
  height: 100%;
}

#store-products {
  font-family: "Roboto", sans-serif;
  margin: 2.5vh 5vw;
  display: flex;
  flex-wrap: wrap;
  /* flex-wrap: nowrap; */
  flex-direction: row;
  justify-content: center;
  /* align-items: flex-start; */
  /* align-content: flex-start; */
  background: rgba(64, 85, 70, 0);
  border-radius: 2px;
}

.store-item {
  width: 80vw;
  /* width: 18vw; */
  min-width: 220px;
  max-width: 280px;
  height: 340px;
  /* flex: 1 1 25%; */
  margin: 2vh 2vw;
  border-radius: 2px;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.1), 0 1.5px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 0px 0px 10px 0px;
}

/* .store-item:nth-last-of-type(1) {
  flex: 50%;
} */

.product-thumb {
  max-width: 200px;
  max-height: 200px;
  margin: 8px auto;
}

.title {
  margin-top: 10px;
}

.store-item p {
  margin-top: 5px;
}

.cart-button-store,
.details-button-store {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  width: 60%;
  height: 8%;
  padding: 4px 24px;
  margin-top: 8px;
  /* background-color: rgba(238, 163, 138, 0.5); */
  background-color: rgba(136, 153, 135, 0.473);
  border-radius: 2px;
  color: rgb(27, 24, 24);
}

.cart-button-store {
  margin-top: 5px;
}

.details-button-store {
  margin-top: 20px;
}

#store-products a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#store-products a:visited {
  color: black;
  background-color: transparent;
}

#store-products a:hover {
  color: #66836c;
  background-color: transparent;
}

#store-products a:active {
  color: rgb(86, 143, 86);
  background-color: transparent;
}

.swal2-title,
#swal2-title {
  color: rgb(109, 109, 109);
  font-size: 16px;
}

.swal2-actions > .swal2-styled {
  background-color: rgba(150, 170, 149, 0.993);
}

/* ====================== Cart ======================== */

.content-section {
  /* margin: 1em; */
  position: relative;
  z-index: 1;
}

.cart {
  /* max-width: 900px; */
  margin: 4vh auto 0 auto;
  width: 100vw;
  padding: 0 1.5em;
  background-color: rgba(211, 211, 211, 1);
  border-radius: 5px;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
  text-align: left;
}

.cart-item {
  width: 45%;
}

.cart-price {
  /* width: 20%; */
  /* margin-left: 20px; */
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 50%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  padding: 4px 6px;
  color: rgb(99, 68, 68);
  background-color: rgba(175, 111, 95, 0.253);
  /* background-color: #eb5757; */
  border: none;
  border-radius: 0.3em;
  /* font-weight: bold; */
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  /* margin-right: 25px; */
  margin-left: 6px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  text-align: end;
  margin-top: 50px;
  margin-right: 10px;
}

.cart-total-title {
  color: black;
  margin-right: 20px;
  display: inline-block;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
  display: inline-block;
}

.btn-checkout,
.btn-keep-shopping {
  margin: 30px auto;
}

.cart-icon {
  margin: 26px 0px;
  opacity: 0.7;
}

.btn-checkout,
.btn-keep-shopping {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 0.9em;
  width: 200px;
  height: 8%;
  padding: 6px 18px;
  margin-bottom: 20px;
  background-color: rgba(136, 153, 135, 0.473);
  border-radius: 2px;
  color: rgb(27, 24, 24);
}

.sticky-cart {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  max-width: 900px;
  margin: auto;
  background-color: rgba(211, 211, 211, 1);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.goto-cart {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  padding: 5px;
  background-color: rgba(153, 177, 152, 0.473);
  color: rgb(87, 68, 68);
  border: 2px solid rgb(121, 119, 119); 
  border-radius: 5px;
}

/* ====================== MQ ======================== */

/* for smaller than 580px */

@media only screen and (max-width: 567px) {
  /* .content-section{
    display: none;
  } */

  .name {
    font-size: 1.8rem;
  }

  #home h2 {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 1rem;
  }

  #form {
    height: 155px;
    margin-top: 100px;
  }

  #hires-info {
    width: 80vw;
    margin: 4vh auto auto auto;
    font-size: 0.85rem;
    border-radius: 3px;
    line-height: 1.4em;
  }

  audio {
    width: 230px;
  }

  .vinyl-master-title {
    padding-top: 3vh;
  }

  .song {
    font-size: 1.6rem;
  }
/* 
  .socials {
    display: none;
  } */
/* 
  header {
    height: 3vh;
    margin-top: 3.5vh;
    margin-bottom: 4.5vh;
  } */
  
  .header-name {
    font-size: 2em;
    }
  
}

@media only screen and (max-width: 846px) and (min-width: 537px) {
  #store-products {
    font-family: "Roboto", sans-serif;
    margin: 2.5vh 5vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: flex-start;
    /* align-content: flex-start; */
    background: rgba(64, 85, 70, 0);
    border-radius: 2px;
  }
}

/* for larger than 800px */
@media only screen and (min-width: 800px){
  #form {
    margin: 140px auto;
    padding: 36px;
    height: 185px;
    width: 40vw;
  }

  .name {
    font-size: 3rem;
  }

  .store-nav-link {
    font-size: 1.7em;
  }

  #home h2 {
    font-size: 2rem;
  }

  .sticky-cart {
    display: none;
  }

  .message {
    height: 600px;
    width: 600px;
  }

  .message h2{
    font-size: 24px;
}

.cart{
  width: 800px;
}

}

@media all and (max-aspect-ratio: 1110/740) {
  .mid-content {
    top: 5vh;
    left: 26vw;
    right: auto;
  }
}

@media all and (orientation: portrait) {
  #home {
    background: url("images/bass_hand_center_mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mid-content {
    align-items: flex-start;
    top: 30px;
    left: 30px;
    right: auto;
  }
  
}

/* @media all and (orientation: landscape){
  #hires-info{
    width
  }
}  */
