<% layout('layouts/boilerplate') %>

<body id="home">
  <main class="mid-content">
    <h1 class="name">andrew altman</h1>
    <a href="products"><h2>store</h2></a>
    <a href="videos"><h2>videos</h2></a>
  </main>
</body>
