<% layout('layouts/boilerplate') %>

<body class="videos">
  <a href="/"><i class="fas fa-home"></i></a>
  <div id="video-area">
    <div id="title-scroller">
      <i class="fas fa-arrow-alt-circle-left"></i>
      <ul>
        <% for (let video of videos){%>
        <li class="titles toggle-content" src="<%= video.src %>"><h1><%= video.title %></h1></li>
        <%}%>
      </ul>
      <i class="fas fa-arrow-alt-circle-right"></i>
    </div>
    <div class="carousel">
      <i class="fas fa-circle carousel-markers carousel-selected"></i>
      <% for (let i = 1; i < videos.length; i += 1){%>
      <i class="fas fa-circle carousel-markers"></i>
      <%}%>
    </div>

    <div class="video-wrapper">
      <iframe
        width="100%"
        height="100%"
        src="<%= videos[0].src %>"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <script src="/public/scripts/videos.js"></script>
</body>
